<html>
    <head>
        <title>Django Girls blog: Bookmark/Page name here</title>
    </head>
    <body>
        <div>
            <h1><a href="/">HiDjango1</a></h1>
        </div>

        <div><h3>{{ posts }}<h3></div>
        <bn>
        {% for post in posts %}
            {{ post }}
        {% endfor %}
        <bn>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">1st post</a></h2>
            <p>Aenean eu leo quam. こんにちは！ よろしく！ </p>
        </div>

        <div>
            <p>公開日: 2014/06/14, 12:14</p>
            <h2><a href="">2nd post</a></h2>
            <p> Here, inside the single quotes </p>
        </div>



        <div>
            <h1><a href="/">HiDjango2</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>